[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
